@import "tailwindcss";

@theme {
  --color-primary: theme(colors.indigo.600);
  --color-primary-hover: theme(colors.indigo.700);
  --color-secondary: theme(colors.pink.500);
  --font-family-sans: "Inter", "system-ui", "sans-serif";
}

@layer base {
  html {
    font-family: var(--font-family-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* Set a default border color to avoid needing to specify it on every utility */
  *, ::before, ::after {
    border-color: theme(colors.gray.200);
  }
}